:root{
    --typewriterSpeed: 2s;
    --typewriterCharacter: 7;
}

body{
    background-color: rgb(30, 30, 30);
    color: white;
    font-family: "Source Code Pro",monospace;
    padding: 0;
    margin: 0;
}

/* HEADER */

header{
    background-color: rgb(30, 30, 30);
    padding: 0px;
}

header .logo{
    background: url("../images/logo.png");
    display: inline;
    background-size: 100%;
    background-repeat: no-repeat;
    text-indent: -99999px;
    height: 150px;
    width: 150px;
    border-radius: 10%;
    position: relative;
    margin: 35px 0 0 50px;
    padding: 0;
    float: left;
} 

header nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-right: 50px;
    text-align: end;
}

header nav ul li{
    display: inline-block;
    margin: 65px 39px 0 39px;
    padding: 0;
}

header #name{
    font-size: 18px;
    margin :-18px 0 0 15px;
    padding: 0;
    display: inline-block;
}



header nav ul li a{
    font-size: 36px;
    color: white;
    text-decoration: none;
}

header nav ul li a:hover{
    color: rgb(255,111,111);
    text-decoration-line: underline;
}

/*CONTENT */

.typewriter_effect{
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.typewriter_effect p{
    font-size: 72px;
    display: block;
    position: relative;
    text-align: center;
    width: max-content;
    margin-top: 50px;
    font-family: "Source Code Pro", monospace;
}

.typewriter_effect p::before,
.typewriter_effect p::after{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.typewriter_effect p::before{
    background-color: rgb(30, 30, 30);
    animation: typewriter var(--typewriterSpeed) steps(var(--typewriterCharacter)) 800ms forwards;
}

.typewriter_effect p::after{
    width: 0.125em;
    background-color: white;
    animation: typewriter var(--typewriterSpeed) steps(var(--typewriterCharacter)) 800ms forwards,
    blinkEffect 750ms steps(29) infinite;
}

@keyframes typewriter{
    to {
        left: 100%;
    }
}
@keyframes blinkEffect{
    to {
        background: transparent;
    }
}

.contact_float{
    font-size: 30px;
    text-align: center;
    margin-top: -50px;
    opacity: 0;
    transform: translateY(3rem);
    animation: fadeInUp 2s ease calc(var(--typewriterSpeed) + 1s) forwards;
}

@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* FOOTER */

footer{
    position: fixed;
    background-attachment: scroll;
    background-position: 0% 0%;
    width: 100%;
    bottom: 0px;
}

footer p.copyright{
    font-family: 'Roboto', sans-serif;
    position: absolute;
    width: 100%;
    bottom: -10px;
    margin-left: 5px;
    padding: 0;
}

/* CONTACT */

.contact_subtitle{
    margin-top: 50px;
    text-align: center;
    font-size: 24px;
}

/* CONTACT IMAGES */

.image{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 60%;
    margin: auto;
}

.image figure{
    margin: auto;
    text-align: center;
    width: 33%;
    font-size: 24px;
}

.image figure img{
    display: inline-block;
    width: 120px;
    margin: 50px;
    margin-bottom: 30px;
}